.news-section {
  background: #f7f8fa;
}

/* Left side */
.news-label {
  color: #e8b500;
  font-weight: 600;
  font-size: 16px;
}

.news-heading {
  font-size: 28px;
  font-weight: 700;
  color: #0f2a55;
}

.news-card {
  transition: 0.3s ease;
  border-radius: 12px;
}

.news-card:hover {
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  transform: translateY(-3px);
}

.news-date {
  font-size: 14px;
  font-weight: 500;
}

.news-title {
  font-size: 20px;
  font-weight: 600;
  color: #0f2a55;
}

.news-text {
  color: #555;
   font-size: 12px;
}

/* Sidebar */
.sidebar-gold {
  background: #fff7d6;
  border-radius: 12px;
}

.sidebar-btn-gold {
  background: #e8b500;
  border: none;
  font-weight: 600;
  color: #0f2a55;
}

.sidebar-blue {
  background: #0f2a55;
  border-radius: 12px;
}

.sidebar-links li {
  margin-bottom: 10px;
}

.sidebar-link {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
  text-decoration: none;
}

.sidebar-link:hover {
  color: #ffd966;
}
